<div id="<%= dom_id score %>">
  <p>
    <strong>Subject:</strong>
    <%= score.subject %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= score.point %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= score.grade %>
  </p>

  <p>
    <strong>Class year:</strong>
    <%= score.class_year %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= score.student_id %>
  </p>

</div>
